/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
    --white-color: #FFFFFF;
    --primary-color: #FF4400;
    --section-bg-color: #f0f8ff;
    --dark-color: #000000;
    --grey-color: #d0d1d1;
    --p-color: #717275;
  
    --body-font-family: 'Inter', sans-serif;
  
    --h5-font-size: 24px;
    --p-font-size: 20px;
    --copyright-text-font-size: 16px;
    --product-link-font-size: 14px;
    --custom-link-font-size: 12px;
  
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
  }
  
  body,
  html {
    height: 100%;
  }
  
  html {
    scroll-behavior: smooth;
  
    @media screen and (prefers-reduced-motion: reduce) {
      scroll-behavior: auto;
    }
  }
  
  body {
    background: var(--white-color);
    font-family: var(--body-font-family);
    position: relative;
  }
  
  /*---------------------------------------
    TYPOGRAPHY               
  -----------------------------------------*/
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--dark-color);
    line-height: inherit;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--font-weight-bold);
  }
  
  h1,
  h2 {
    font-weight: var(--font-weight-black);
  }
  
  h1 {
    font-size: 64px;
    line-height: normal;
  }
  
  h2 {
    font-size: 42px;
  }
  
  h3 {
    font-size: 36px;
  }
  
  h4 {
    font-size: 32px;
  }
  
  h5 {
    font-size: 24px;
  }
  
  h6 {
    font-size: 20px;
  }
  
  p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
  }
  
  a, 
  button {
    touch-action: manipulation;
    transition: all 0.3s;
  }
  
  a {
    color: var(--p-color);
    text-decoration: none;
  
    &:hover {
      color: var(--primary-color);
    }
  }
  
  .text-primary {
    color: var(--primary-color) !important;
  }
  
  ::selection {
    background: var(--primary-color);
    color: var(--white-color);
  }
  
  /*---------------------------------------
    CUSTOM LINK               
  -----------------------------------------*/
  .custom-link {
    color: var(--p-color);
    font-size: var(--custom-link-font-size);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    position: relative;
  
    i {
      position: absolute;
      opacity: 0;
      bottom: 0;
      left: 100%;
      transition: all 0.3s;
      line-height: normal;
    }
  
    &:hover i {
      opacity: 1;
      left: 101%;
    }
  }
  
  .lead {
    font-size: 1.5rem;
    font-weight: var(--font-weight-thin);
  }
  
  b,
  strong {
    font-weight: var(--font-weight-bold);
  }
  
  /*---------------------------------------
    PRE LOADER               
  -----------------------------------------*/
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 var(--white-color);
  }
  
  .spinner {
    border: 1px solid transparent;
    border-radius: 5px;
    position: relative;
  
    &::before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 45px;
      height: 45px;
      margin-top: -10px;
      margin-left: -23px;
      border-radius: 50%;
      border: 1px solid #959595;
      border-top-color: var(--white-color);
      animation: spinner 0.9s linear infinite;
    }
  }
  
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  
  /*---------------------------------------
    CUSTOM BUTTON & ICON              
  -----------------------------------------*/
  .custom-btn {
    background: var(--dark-color);
    border-radius: 50px;
    color: var(--white-color);
    font-size: var(--copyright-text-font-size);
    text-transform: uppercase;
    padding: 16.5px 20px;
  
    &:hover {
      background: var(--primary-color);
      color: var(--white-color);
    }
  }
  
  .social-btn {
    background: transparent;
    border: 1px solid var(--grey-color);
    color: var(--dark-color);
    text-transform: none;
  
    &:hover {
      border-color: transparent;
    }
  }
  
  .cart-form-select {
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .cart-btn {
    border-radius: 0;
    width: 100%;
    font-size: var(--product-link-font-size);
  }
  
  .custom-icon {
    color: var(--p-color);
    font-size: 24px;
  }
  
  .bi-bag.custom-icon {
    font-size: 17px;
  }
  
  .featured-icon {
    color: var(--grey-color);
    font-size: 52px;
  }
  
  /*---------------------------------------
    DIV SEPARATOR               
  -----------------------------------------*/
  .div-separator {
    position: relative;
  
    &::before {
      content: "";
      height: 1px;
      background: var(--grey-color);
      display: block;
      width: 100%;
    }
  
    span {
      position: absolute;
      top: 50%;
      margin-left: -22.5px;
      left: 50%;
      text-align: center;
      background: var(--white-color);
      margin-top: -11px;
      color: var(--dark-color);
      font-weight: var(--font-weight-bold);
      font-size: 14px;
      width: 35px;
      text-transform: uppercase;
    }
  }
  
  /*---------------------------------------
    FULL IMAGE               
  -----------------------------------------*/
  .full-image-img {
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    width: 100%;
    bottom: -120px;
    min-width: 650px;
  
    @media (min-width: 1600px) {
      bottom: -200px;
    }
  }
  
  /*---------------------------------------
    NAVIGATION               
  -----------------------------------------*/
  .navbar {
    background: var(--white-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 25px 0;
    z-index: 2;
    will-change: transform;
    transition: transform 300ms linear;
  
    &.headroom--not-top {
      padding: 20px 0;
    }
  
    &.headroom--pinned {
      transform: translate(0, 0);
    }
  
    &.headroom--unpinned {
      transform: translate(0, -150%);
    }
  }
  
  .navbar-brand {
    color: var(--dark-color);
    font-size: 24px;
    font-weight: var(--font-weight-light);
    margin: 0;
    padding: 0;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 0;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  
  .nav-link {
    color: var(--p-color);
    font-size: 16px;
    position: relative;
  
    &::after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--grey-color);
      content: '';
      opacity: 0;
      transition: opacity 0.3s, transform 0.3s;
      transform: translateY(10px);
    }
  
    &:hover {
      color: var(--primary-color);
  
      &::after {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
  
  .navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0;
    width: 30px;
    height: 35px;
    outline: none;
  
    &:focus {
      outline: none;
      box-shadow: none;
    }
  
    &[aria-expanded="true"] .navbar-toggler-icon {
      background: transparent;
  
      &::before {
        transform: rotate(45deg);
      }
  
      &::after {
        transform: rotate(-45deg);
      }
    }
  
    .navbar-toggler-icon {
      background: var(--dark-color);
      transition: background 10ms 300ms ease;
      display: block;
      width: 30px;
      height: 2px;
      position: relative;
  
      &::before,
      &::after {
        position: absolute;
        right: 0;
        left: 0;
        background: var(--dark-color);
        width: 30px;
        height: 2px;
        content: '';
        transition: all 300ms ease;
      }
  
      &::before {
        top: 8px;
      }
  
      &::after {
        bottom: 8px;
      }
    }
  }
  
  .navbar-collapse {
    @media (max-width: 991px) {
      text-align: center;
    }
  }
  
  .nav-item {
    margin: 0;
    padding: 0;
  }
  